.post{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 12px;
    text-align: left;
}

.banner-title{
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    margin-left: 20px;
}

.banner{
    margin-bottom: 20px;
    display: flex;
    width: 100vw;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 1000;
}

.banner-button{
    border-radius: var(--border-radius);
    border: none;
    color: var(--text-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    padding: 8px 12px;
}

.banner-button:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.banner-buttons{
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
}

.hamburger-menu{
    display: none;
    border-radius: var(--border-radius);
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    font-size: 24px;
}

.hamburger-menu:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.sidebar{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 20px;
    align-self: start;
    text-align: left;
    z-index: 999;
}

.side-bar-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: var(--border-radius);
}

.search-bar{
    position: relative;
    width: 100%;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    /* overflow: hidden; */
    max-width: 40vw;
    margin: 0 auto;

}

.search-bar form{
    display: flex;
    border: none;
    width: 100%;
}

.search-input{
    flex: 1;
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    touch-action: none;
}

.search-input:focus{
    margin: 0;
    border: none;
    outline: none;
}

.search-results{
    position: absolute;
    top: 37px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    text-align: left;
    overflow: hidden;
}

.search-result-item{
    padding: 10px;
    border-bottom: 1px solid var(--background-color);
}

.search-result-item:last-child{
    border-bottom: none;
}

.search-result-item:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
    cursor: pointer;
}

.clear-search-icon{
    height: 18px;
}

.clear-search-button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
}


.tag{
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    margin: 5px 5px;
    text-align: center;
    float: left;
}

.tag:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
    cursor: pointer;
}

.post-actions{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.post-action{
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    display: flex;
    padding: 8px 8px;
}   

.post-action:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.post-action-icon{
    width: 16px;
    height: 16px;
}

.comment .like-button{
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    display: flex;
    padding: 5px 10px;
    margin-top: 10px;
    z-index: 10;
}

.comment .like-button:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.upvote-icon{
    width: 16px;
    height: 16px;
}

.upvote-button{
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    display: flex;
    padding: 8px 8px;
}

.upvote-button:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.profile-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-author{
    display: flex;
    align-items: center;
    gap: 0px;
}

.post-author{
    display: flex;
    align-items: center;
    gap: 0px;
}

.comment{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.cookie-banner{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid var(--secondary-color);
    -webkit-transform: translateZ(50%);
    z-index: 1000;
}
.accept-button{
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 10px;
    padding-bottom: 8px;
}
.accept-button:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.mobile-side-bar{
    /* position: relative; */
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-side-bar-content{
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 20px;
    background-color: var(--primary-color);
    padding: 20px;
    width: 70vw;
    height: 100vh;
    z-index: 1000;
}

.mobile-side-bar-background{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

@media (max-width: 768px) {
    .search-bar {
        max-width: 100%;
        margin-top: 70px;
    }
    .side-bar {
        height: 0;
        width: 0;
        display: none;
    }
    .side-bar-content{
        height: 100%;
    }
    .hamburger-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
    }
    .cookie-banner{
        width: 85vw;
    }
    .banner{
        position: fixed;   
    }
}

.disabled {
    display: none;
    width: 0%;
    opacity: 0;
}