.post{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 12px;
    text-align: left;
}

.banner{
    /* padding: 10px 20px; */
    margin-bottom: 20px;
    display: flex;
    width: 100vw;
    align-items: center;
    background-color: var(--primary-color);
    /* flex-direction: row; */
}

.banner-button{
    border-radius: var(--border-radius);
}

.banner-buttons{
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
}

.sidebar{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 20px;
    align-self: start;
    text-align: left;
}

.search-bar{
    position: relative;
    width: 100%;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    /* overflow: hidden; */
    max-width: 40vw;
    margin: 0 auto;

}

.search-bar form{
    display: flex;
    border: none;
    width: 100%;
}

.search-input{
    flex: 1;
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--background-color);
    /* border: 1px solid var(--primary-color); */
    color: var(--text-color);
}

.search-input:focus{
    margin: 0;
    border: none;
    outline: none;
}

.search-results{
    position: absolute;
    top: 37px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    /* padding: 10px; */
    text-align: left;
    overflow: hidden;
}

.search-result-item{
    padding: 10px;
    border-bottom: 1px solid var(--background-color);
}

.search-result-item:last-child{
    border-bottom: none;
}

.search-result-item:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
    cursor: pointer;
}

.clear-search-icon{
    /* width: 18px; */
    height: 18px;
}

.clear-search-button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
}


.tag{
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    margin: 5px 5px;
    text-align: center;
    float: left;
}

.tag:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
    cursor: pointer;
}

.post-actions{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.post-action{
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    display: flex;
    padding: 8px 8px;
    /* margin-right: 10px; */
}   

.post-action:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.post-action-icon{
    width: 16px;
    height: 16px;
}

.comment .like-button{
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    display: flex;
    padding: 5px 10px;
    margin-top: 10px;
}

.comment .like-button:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.upvote-icon{
    width: 16px;
    height: 16px;
}

.upvote-button{
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    display: flex;
    padding: 8px 8px;
}

.upvote-button:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

.profile-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-author{
    display: flex;
    align-items: center;
    gap: 0px;
}

.post-author{
    display: flex;
    align-items: center;
    gap: 0px;
}

.comment{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.cookie-banner{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    display: flex;
    gap: 20px;
    align-items: center;
}

