:root {
  --primary-color: #282828;
  --secondary-color: #896a99;
  --accent-color: #96969623;
  --text-color: #ffffff;
  --secondary-text-color: #a4a4a4;
}

body{
    width: 700px;
    margin: 0 auto;
    background-color: var(--primary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#Header{
    display: flex;
    padding: 12px;
    background-color: var(--primary-color);
    height: 64px;
}

#Baner{
    display: flex;
    flex-grow: 2;
    height: 64px;
    align-items: center;
    color: var(--text-color);
    font-weight: 600;
    font-size: 32;
}

#HeaderButtons{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
}

.Button{
    border-radius: 12px;
    background-color: var(--secondary-color);
    min-height: 38px;
    max-height: 38px;
    padding: 10px;
    line-height: 14px;
    text-align: center;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
}

#Footer{
    min-height: 256px;
    display: flex;
    padding: 12px;
    justify-content: space-evenly;
    gap: 12px
}

.footerContainer{
    background-color: var(--accent-color);
    flex-grow: 1;
    border-radius: 12px;
    color: var(--secondary-text-color);
    padding: 12px;
}

#Board{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 32px;
}

.post{
    margin: 0 auto;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    background-color: var(--accent-color);
}

.post>img{
    padding: 24px 0;;
}

.post > h1{
    font-size: 24px;
    color: var(--text-color);
}

.post>hr{
    color: var(--primary-color);
    margin: 12px 0;
}

.postContent{
    color: var(--secondary-text-color);
}

.postButtons{
    display: flex;
    gap: 12px;
}

.searchBar{
    background-color: var(--accent-color);
    border-radius: 12px;
    font-size: 16px;
    padding: 0 15px;
    color: var(--secondary-text-color);
    display: flex;
}

.searchBar>input{
    flex-grow: 1;
    border-radius: 12px;
    padding: 6px 12px;
}


.searchInput{
    outline: none;
}


.postTag{
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    display: flex;
    height: 32px;
    line-height: 32px;
    border-radius: 12px;
    padding: 0 12px;
    cursor: pointer;
}

.postTag:hover{
    background-color: var(--primary-color);
}

.postTagList{
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.postUserLabel>a:hover{
    text-decoration: underline;
}
.postUserLabel{
    display: flex;
    gap: 6px;
}

.postUserLabel>Image{
    border-radius: 12px;
}

/* .postButtons>div{
    background-color: var(--secondary-color);
    padding: 12px;
    border-radius: 12px;
    line-height: 12px;
} */

@media (max-width: 600px) {
    body{
        width: 100%;
    }
}