.content{
    /* display: grid; */
    /* grid-template-columns: 3fr 1fr; */
    /* gap: 20px; */
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60vw;
    margin: 0 auto;
}

.posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comments-section {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 10px;
}
.comment p {
    margin: 0;
}