.post-details-content{
    display: block;
    gap: 20px;
}

.post-details-page{

}

.back-button {
    margin-top: 20px;
    text-align: left;
}

.posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comments-section {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 10px;
}
.comment p {
    margin: 0;
}

.back-icon {
    width: 24px;
    height: 24px;
}

.back-button{
    background: var(--primary-color);
    align-self: start;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: var(--border-radius);
}

.back-button:hover {
    background: var(--secondary-color);
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--primary-color);
    padding: 12px;
    border-radius: var(--border-radius);
}

.comment-form input, .comment-form textarea {
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    resize: none;
}

.comment-form button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 10px;
    padding-bottom: 8px;
    align-self: flex-start;
}

.comment-form button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.comment-form-title{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}