.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60vw;
    margin: 0 auto;
}

.posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



@media (max-width: 768px) {
    .main-content {
        width: 90vw;

    }
    .content{
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
    }

}